//
#include "resource.h"


/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_BITMAP1             BITMAP  DISCARDABLE     "refl.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDI_ICON1               ICON    DISCARDABLE     "refl.ico"

